/* This is the CSS for the whole Web page */
* {
    color: #dad8d8;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}
html, body { 
    margin: 0;
    padding: 0;
}
.body{
    height: 100vh;
}

/* This is the CSS for the Navigationbar */
.main-header {
    background-color: #1a1a1c; 
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 60px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.main-nav {
    text-align: right;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: #dad8d8;
}
.main-nav li {
    padding: 0 5%;
}
.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .6em;
    color: aliceblue;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #727275;
}
.logo {
    background: url(Images/My-logo2.png);
    width: 199px;
    height: 107px;
    margin-top: -50px;
    margin-bottom: -20px;
}

/* This is the CSS for the Footer */
.footer {
    background-color: #1a1a1c; 
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 1px 0;
    box-sizing: border-box;
    display: block;
    margin: auto;
}
.logo-footer {
    width: 120px;
    height: 64px;
    float: right;
    margin-right: 5pc;
    display: block;
}
.copyright-footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: oblique;
    font-weight: lighter;
    text-shadow: 1px 1.0px  rgb(104, 101, 101);
    margin-left: 3pc;
}

/* This is the CSS for the "Home" page */
.myname {
    text-align:left;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 4px 3px rgb(104, 101, 101);
    font-size: 5em;
    font-weight: bolder;
    margin-left: 3pc;
    margin-top: 200px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.quotation {
    text-align: left;
    margin-left: 3pc;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(104, 101, 101);;
    transition-duration: 0.5s;
    font-size: 16px;
    padding: 15px 35px;
    width: 30%;
    margin: 0;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 40px;
    border-radius: 8px
}
.img-home {
    margin-top: -450px;
    margin-bottom: 50px;
    margin-right: 5pc;
    width: 500px; ;
    height: 604px;
}

/* This is the CSS for the "About Me" page */
.om-mig {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3pc;
    margin-left: 5pc;
    letter-spacing: 2px;
    font-size:xx-large;
    font-weight: bolder;
}
.p-om-mig {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 5pc;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    width: 35em;
}
.mine-k {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5pc;
    margin-left: 5pc;
    letter-spacing: 2px;
    font-size:xx-large;
    font-weight: bolder;
}
.p-mine-k {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 5pc;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    width: 35em;
}
.img-om-mig {
    margin-top: -14pc;
    margin-bottom: 100px;
    margin-right: 10pc;
    width: 400px; ;
    height: 504px;
}

/* This is the CSS for the "Contact Me" page */
.kon-mig {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5pc;
    margin-left: 5pc;
    letter-spacing: 2px;
    font-size:xx-large;
    font-weight: bolder
}
.h3-kon-mig {
    text-align: left;
    text-align: justify;
    margin-left: 5pc;
    margin-top: -1pc;
    letter-spacing: 1px;
    font-size: 1.2pc;
    font-weight: lighter;
    font-weight: 500;
}
.email {
    margin-left: 6pc;
    margin-top: 2pc;
    font-size: 18px;
}
.email-1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 6pc;
    margin-top: -15px;
    letter-spacing: 2px;
}
.tlf {
    margin-left: 6pc;
    margin-top: 2pc;
    font-size: 18px;
}
.tlf-1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 6pc;
    margin-top: -15px;
    letter-spacing: 2px;
}
.insta {
    margin-left: 6pc;
    margin-top: 2pc;
    font-size: 18px;}
.insta-1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 6pc;
    margin-top: -15px;
    letter-spacing: 2px;
}
.img-kontakt {
    margin-top: -20pc;
    margin-bottom: 100px;
    margin-left: 50pc;
    width: 400px; ;
    height: 504px;
}

/* This is the CSS for the "My Work" page */
.head-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3pc;
    margin-bottom: 8pc;
    margin-left: 5pc;
    letter-spacing: 2px;
    font-size:xxx-large;
    font-weight: bolder;
}
.h-animation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5pc;
    margin-left: 50pc;
    letter-spacing: 2px;
    font-size:x-large;
    font-weight: bolder
}
.p-animation {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 50pc;
    margin-top: -1pc;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    width: 35em;
}
.img-animation {
    margin-bottom: -1pc;
    margin-left: 6pc;
    margin-top: -8pc;
    width: 400px;
    height: 500px;
}

.h-app {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5pc;
    margin-left: 5pc;
    letter-spacing: 2px;
    font-size:x-large;
    font-weight: bolder
}
.p-app {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 5pc;
    margin-top: -1pc;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    width: 35em;
}
.img-app {
    margin-bottom: -1pc;
    margin-left: 50pc;
    margin-top: -9pc;
    width: 500px;
    height: 506px;

}

.h-web {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5pc;
    margin-left: 50pc;
    letter-spacing: 2px;
    font-size:x-large;
    font-weight: bolder
}
.p-web {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 50pc;
    margin-top: -1pc;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    width: 35em;
}
.img-web {
    margin-bottom: -1pc;
    margin-left: 6pc;
    margin-top: -8pc;
    width: 600px;
    height: 506px;
}

.h-logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5pc;
    margin-left: 5pc;
    letter-spacing: 2px;
    font-size:x-large;
    font-weight: bolder
}
.p-logo {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 5pc;
    margin-top: -1pc;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    width: 35em;
}
.img-logo {
    margin-bottom: -1pc;
    margin-left: 50pc;
    margin-top: -10pc;
    width: 300px;
    height: 350px;
}

.h-some {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5pc;
    margin-left: 50pc;
    letter-spacing: 2px;
    font-size:x-large;
    font-weight: bolder
}
.p-some {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 50pc;
    margin-top: -1pc;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    width: 35em;
}
.img-some {
    margin-bottom: -1pc;
    margin-left: 6pc;
    margin-top: -8pc;
    width: 400px;
    height: 600px;
}

.h-foto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5pc;
    margin-left: 5pc;
    letter-spacing: 2px;
    font-size:x-large;
    font-weight: bolder
}
.p-foto {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 5pc;
    margin-top: -1pc;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    width: 35em;
}
.img-foto {
    margin-top: -1pc;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 1143px;
    height: 650px;
}